<ul>
    <%# Notice here we do not include `=` in the templating language, as we are not displaying a result, we are simply running the code %>
    <% @movies.each do |movie| %>
        <%# Displaying a results/substitution of 'event', so '=' is necessary. %>
        <li><%= movie %></li> 
    <%# No substitution again %>
    <% end %>
</ul>